*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 226, 248);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login_card{
    background-color: white;
    padding: 60px 40px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}


.login_card h1{
    text-align: center;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    
}
.login_card h3{
    text-align: center;
    margin-bottom: 50px;
    color: gray;
}

.login_card a{
    display: block;
    text-align: right;
    margin-bottom: 40px;
}

.input_box{
    position: relative;
    margin-bottom: 20px;
}

.input_box input{
    width: 100%;
    padding: 10px 40px 10px 40px;
    border: solid 2px gray;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    
}

.input_box i{
    position:absolute;
    left: 10px;
    top:  35%;
    transform: rotateY(-50%);
    color: black;
    
}

.btn_login{
    background-color: rgb(185, 123, 243);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width:100%;
}

.btn_login:hover{
    background-color: blueviolet;
}


